@import "~antd/dist/antd.less";
@import "../../assets/styles/global.less";

@componentName: ~"top-bar";

.@{componentName} {
  background-color: transparent;
  display: flex;
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  width: 100vw;
  z-index: 10;

  /*   -webkit-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.55); */

  .@{componentName}-background {
    background-color: @primary-color;
    height: 100px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .@{componentName}-logo {
    object-fit: scale-down;
    margin-right: 30px;
    width: 120px;
    z-index: 2;
  }

  .@{componentName}-menu {
    align-items: center;
    display: flex;
    z-index: 2;

    .@{componentName}-menu-item {
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      cursor: pointer;
      flex-direction: column;
      font-size: 18px;
      font-family: "Reem Kufi";
      height: 30px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      text-align: center;
      width: fit-content;

      .@{componentName}-dot {
        position: absolute;
        align-self: center;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: white;
        top: 30px;
        opacity: 1;
      }
    }

    .selected {
      color: white;
      cursor: default;
    }
  }
}

@media only screen and (max-width: @screen-lg) {
  .@{componentName} {
    padding-left: 20px;
    padding-right: 20px;

    .@{componentName}-logo {
      margin-right: 10px;
    }

    .@{componentName}-menu {
      .@{componentName}-menu-item {
        font-size: 16px;
      }
    }
  }
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
